{% extends '_layout/default.html' %}

{% set in_settings = true %}

{% block title %}{{ _('Password Settings') }}{% endblock %}


{% block content %}
<form class="form-horizontal" method="post">
  {{ form.csrf_token }}
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group row">
            <label for="old_password" class="col-sm-3 col-form-label">{{ _('Previous Password') }}</label>
            <div class="col-sm-9">
              <input type="password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}"
                     name="old_password" id="old_password" placeholder="{{ _('Your previous password') }}">
              {% with field=form.old_password %}
                {% include "_parts/form_field_errors.html" %}
              {% endwith %}
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label">{{ _('New Password') }}</label>
            <div class="col-sm-9">
              <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                     name="password" id="password" placeholder="{{ _('New password') }}">
              {% with field=form.password %}
                {% include "_parts/form_field_errors.html" %}
              {% endwith %}
            </div>
          </div>
          <div class="form-group row">
            <label for="confirm" class="col-sm-3 col-form-label">{{ _('Confirm Password') }}</label>
            <div class="col-sm-9">
              <input type="password" class="form-control {% if form.confirm.errors %}is-invalid{% endif %}"
                     name="confirm" id="confirm" placeholder="{{ _('Confirm password') }}">
              {% with field=form.confirm %}
                {% include "_parts/form_field_errors.html" %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-10">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}