{% extends '_layout/settings.html' %}
{% set in_account = True -%}

{% block title %}Account Settings{% endblock %}

{% block style_plugins %}
<!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/cropperjs/cropper.min.css') }}" />
{% endblock %}

{% block settings_content %}
<form class="form-horizontal" method="post">
  <div class="card-body">
    <h2 class="mb-4">My Account</h2>
    <h3 class="card-title">Profile Details</h3>
    <div class="row align-items-center">
      <div class="col-auto">
        <span class="avatar avatar-xl" style="background-image: url({{ url_for('media', path=request.user.get_avatar()) }})"></span>
      </div>
      <div class="col-auto">
        <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#upload-image">
          Change avatar
        </a>
      </div>
    </div>

    <h3 class="card-title mt-4">Account Name</h3>
    <div class="row g-3">
      <div class="col-md">
        {{ form.csrf_token }}
        <div class="form-label">Name</div>
        <input type="text" class="form-control{% if form.name.errors %} is-invalid{% endif %}" name="name" value="{{ request.user.name }}">
        {% for error in form.name.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card-footer bg-transparent mt-auto">
    <div class="btn-list justify-content-end">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

<div class="modal modal-blur fade" id="upload-image" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form id="form_photo" method="post" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload Image File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mb-3 text-center">
            <img src="{% if request.user.avatar %}{{ url_for('media', path=request.user.get_avatar()) }}{% endif %}" style="max-width: 100%;" id="img_preview" alt="avatar"/>
          </div>
          <div class="mb-3">
            <div class="form-label">Select image</div>
            <input type="file" name="img" id="image_input" class="form-control" accept="image/*"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
          <button id="btn_upload" type="button" class="btn btn-primary" data-bs-dismiss="modal" disabled>
            Select
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js_plugins %}
<!--<script src="{{ url_for('static', path='/jquery/jquery-3.6.3.min.js') }}"></script>-->
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="{{ url_for('static', path='/cropperjs/cropper.min.js') }}"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>-->
<!--<script src="{{ url_for('static', path='/js/account-settings.js') }}"></script>-->
{% endblock %}

{% block js %}
<script>
{% include 'account/parts/account-settings.js' %}
</script>
{% endblock %}