{% set profile_setting_url = url_for('account:profile_settings') %}

{% extends '_layout/default.html' %}
{% block title %}{{ _('Profile') }}{% endblock %}
{% block content_header %}
<div class="row g-2 align-items-center">
  <div class="col">
    <h2 class="page-title">{{ _('Profile') }}</h2>
  </div>
</div>
{% endblock %}

{% block content_body %}
<div class="row">
  <div class="col-lg-4">
    <div class="card card-profile">
      <div class="card-body text-center">
        <img class="avatar avatar-lg rounded" src="{{ url_for('media', path=request.user.get_avatar()) }}">
        <h3 class="mb-3">{{ request.user.display_name }}</h3>
        <p class="text-muted">{{ request.user.email }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
