{% if providers %}
  <div class="social-auth-links text-center mb-3">
    <div class="row">
      <div class="col">
        <a href="{{ url_for('oauth2:login', provider='github') }}" class="btn btn-block btn-sm btn-outline-secondary">
          <i class="fab fa-github mr-2"></i> Github
        </a>
      </div>
      <div class="col">
        <a href="{{ url_for('oauth2:login', provider='google') }}" class="btn btn-block btn-sm btn-outline-danger">
          <i class="fab fa-google mr-2"></i> Google
        </a>
      </div>
    </div>
  </div>
{% endif %}