.idea/
__pycache__/
.pytest_cache/
alembic/versions/*
venv/

files/*.txt
files/*.py
files/*.pid
files/logs/
media/account/*
scripts/try_db.py

*.bak
*.db
.env
*.log
.coverage
*.out
*.pid
*.pyc
*.rdb
*.sqlite
*.swp

apps/core/more_routes.py
scripts/reset_db.sh
NOTE.md
pip-freeze.txt
