{% extends '_layout/auth.html' %}

{% block title %}{{ title or _('Account Activation') }}{% endblock %}
{% block page_title %}{{ title or _('Account Activation') }}{% endblock %}

{% block card_body %}
  <p class="login-box-msg">{{ _('Account Activation') }}</p>

  {% if success %}
    <h2 class="h2 text-center mb-4">{{ _('Account activation success') }}</h2>
  {% else %}
    <h2 class="h2 text-center mb-4">{{ reason or _('Invalid Activation Code') }}</h2>
    {% if activation %}
      <h3>{{ _('Resend the Activation URL to your') }} {{ activation.notif_type.value }}.</h3>
      <p class="text-center">
        Link:<br/>
        <a href="{{ url_for('refresh_activation', code=activation.code) }}">
          {{ _('Resend activation URL') }}
        </a>
      </p>
    {% endif %}
  {% endif %}

  <p class="mb-1 text-center text-muted">
    <a href="{{ url_for('login') }}" tabindex="-1">{{ _('Login') }}</a>
  </p>
{% endblock %}

{% block js_plugins_bottom %}
{% include '_include/notification_toast.html' %}
{% endblock %}