{% extends '_layout/auth.html' %}

{% block title %}{{ title or _('Register') }}{% endblock %}
{% block page_title %}{{ title or _('Register') }}{% endblock %}

{% block card_body %}
  <p class="login-box-msg">{{ _('Forgot Password') }}</p>
  <p class="text-muted mb-4">{{ _l('Enter your email address and your password will be reset and emailed to you') }}.</p>

  <form method="post">
    {{ form.csrf_token }}
    <div class="mb-3">
      <label class="form-label">{{ _('Email address or username') }}</label>
      <input type="text" name="email_username" class="form-control{% if form.email_username.errors %} is-invalid{% endif %}" placeholder="your@email.com" autocomplete="off">
      {% with field=form.email_username %}
        {% include "_parts/form_field_errors.html" %}
      {% endwith %}
    </div>
    <div class="form-footer">
      <button type="submit" class="btn btn-primary w-100">{{ _('Submit') }}</button>
    </div>
  </form>
  <div class="text-center text-muted mt-3">
    <a href="{{ url_for('login') }}" tabindex="-1">{{ _('Login') }}</a>
  </div>
  <div class="text-center text-muted">
    <a href="{{ url_for('register') }}" tabindex="-1">{{ _('Register a new account') }}</a>
  </div>
{% include '_include/notification_toast.html' %}
{% endblock %}
