{% extends '_layout/auth.html' %}

{% block title %}{{ title or _('Login') }}{% endblock %}
{% block page_title %}{{ title or _('Login') }}{% endblock %}
{% block style_plugins %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}" />
{% endblock %}

{% block card_body %}
  <p class="login-box-msg">{{ _('Login into your account') }}</p>

  <form method="post">
    {{ form.csrf_token }}
    <div class="input-group mb-3">
      <input type="text" name="username" class="form-control {% if form.username.errors %}is-invalid{% endif %}" placeholder="{{ _('Email or Username') }}">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
      {% with field=form.username %}
        {% include "_parts/form_field_errors.html" %}
      {% endwith %}
    </div>
    <div class="input-group mb-3">
      <input type="password" name="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" placeholder="{{ _('Password') }}">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
      {% with field=form.password %}
      {% include "_parts/form_field_errors.html" %}
      {% endwith %}
    </div>
    <div class="row">
      <div class="col-8">
        <div class="icheck-primary">
          <input type="checkbox" id="remember">
          <label for="remember">
            {{ _('Remember Me') }}
          </label>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block">{{ _('Sign In') }}</button>
      </div>
      <!-- /.col -->
    </div>
  </form>

  <p class="text-center pt-2">- OR -</p>
  {% include 'main/parts/social_login_buttons.html' %}

  <p class="mb-1 text-center">
    <a href="{{ url_for('forgot_password') }}">{{ _('I forgot my password') }}</a>
  </p>
  <p class="mb-0 text-center text-muted">
    {{ _('Don\'t have account yet?') }} <a href="{{ url_for('register') }}" class="text-center">{{ _('Register') }}</a>
  </p>
{% endblock %}

{% block js_plugins_bottom %}
{% include '_include/notification_toast.html' %}
{% endblock %}