{% extends '_layout/auth.html' %}

{% block title %}{{ title or _('Register') }}{% endblock %}
{% block page_title %}{{ title or _('Register') }}{% endblock %}
{% block style_plugins %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}" />
{% endblock %}

{% block card_body %}
  <p class="login-box-msg">{{ _('Register a new account') }}</p>

  <form method="post" onsubmit="return checkAgreeTerms()">
    {{ form.csrf_token }}
    <div class="input-group mb-3">
      <input type="email" name="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" placeholder="{{ _('Email address') }}">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
      {% with field=form.email %}
        {% include "_parts/form_field_errors.html" %}
      {% endwith %}
    </div>
    <div class="input-group mb-3">
      <input type="text" name="username" class="form-control {% if form.username.errors %}is-invalid{% endif %}" placeholder="{{ _('Username') }}">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
      {% with field=form.username %}
        {% include "_parts/form_field_errors.html" %}
      {% endwith %}
    </div>
    <div class="input-group mb-3">
      <input type="password" name="password" id="input-password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" placeholder="{{ _('Password') }}">
      <div class="input-group-append">
        <a class="input-group-text" onclick="togglePassword('input-password')">
          <span class="fas fa-eye"></span>
        </a>
      </div>
      {% with field=form.password %}
      {% include "_parts/form_field_errors.html" %}
      {% endwith %}
    </div>
    <div class="input-group mb-3">
      <input type="password" name="confirm" id="input-password2" class="form-control {% if form.confirm.errors %}is-invalid{% endif %}" placeholder="{{ _('Confirm Password') }}">
      <div class="input-group-append">
        <a class="input-group-text" onclick="togglePassword('input-password2')">
          <span class="fas fa-eye"></span>
        </a>
      </div>
      {% with field=form.confirm %}
      {% include "_parts/form_field_errors.html" %}
      {% endwith %}
    </div>
    <div class="input-group mb-3">
      <input type="text" name="name" class="form-control {% if form.name.errors %}is-invalid{% endif %}" placeholder="{{ _('Name') }}">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
      {% with field=form.name %}
        {% include "_parts/form_field_errors.html" %}
      {% endwith %}
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="input-group mb-3">
          <div class="icheck-primary">
            <input type="checkbox" id="agree" name="agree_terms" class="form-control {% if form.agree_terms.errors %}is-invalid{% endif %}">
            <label for="agree">
              {{ _('Agree with') }} <a href="#">{{ _('terms and policy') }}</a>
            </label>
          </div>
        {% with field=form.agree_terms %}
          {% include "_parts/form_field_errors.html" %}
        {% endwith %}
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block">{{ _('Register') }}</button>
      </div>
    </div>
  </form>

  <p class="text-center pt-2">- OR -</p>
  {% include 'main/parts/social_login_buttons.html' %}
  <div class="text-center text-muted mt-3">
    {{ _('Already have account') }}? <a href="{{ url_for('login') }}" tabindex="-1">{{ _('Login') }}</a>
  </div>
{% endblock %}

{% block js %}
<script>
function togglePassword(id_name) {
  var el = document.getElementById(id_name);
  if (el.type == 'password') { el.type = "text"; } else { el.type = "password"; };
}

function checkAgreeTerms(){
  var el = document.getElementById('agree');
  if(!el.checked) {
    var Toast = Swal.mixin({
      toast: true,
      position: 'bottom-end',
      showConfirmButton: false,
      timer: 3000,
    });
    Toast.fire({
      title: "{{ _('Registration Failed') }}",
      icon: "{{ _('warning') }}",
      text: "{{ _('Agree to terms and policy is required to register') }}",
    })
    return false;
  } else {
    return true;
  }
}
</script>
{% include '_include/notification_toast.html' %}
{% endblock %}