{% extends '_layout/base.html' %}
{% block title %}{{ _('Register') }}{% endblock %}

{% block body_class %}d-flex flex-column{% endblock %}

{% block page %}
  <div class="container-tight py-4">
    <div class="text-center mb-4">
      <a href="{{ url_for('home') }}" class="navbar-brand navbar-brand-autodark"><img src="{{ url_for('static', path='/logo.svg') }}" height="36" alt=""></a>
    </div>
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">{{ _('Register a new account') }}</h2>
        <form method="post">
          {{ form.csrf_token }}
          {% for error in form.errors %}
          <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}

          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control{% if form.username.errors %} is-invalid{% endif %}" placeholder="username" autocomplete="off">
            {% for error in form.username.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="mb-3">
            <label class="form-label">{{ _('Email address') }}</label>
            <input type="email" name="email" class="form-control{% if form.email.errors %} is-invalid{% endif %}" placeholder="your@email.com" autocomplete="off">
            {% for error in form.email.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="mb-2">
            <label class="form-label">{{ _('Password') }}</label>
            <div class="input-group input-group-flat">
              <input id="input-password" type="password" name="password" class="form-control{% if form.password.errors %} is-invalid{% endif %}"  placeholder="{{ _l('Your password') }}" autocomplete="off">
              <span class="input-group-text">
                <a href="#" onclick="togglePassword('input-password')" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                </a>
              </span>
              {% for error in form.password.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label">{{ _('Confirm Password') }}</label>
            <div class="input-group input-group-flat">
              <input id="input-password2" type="password" name="confirm" class="input-password form-control{% if form.confirm.errors %} is-invalid{% endif %}"  placeholder="{{ _l('Confirm password') }}" autocomplete="off">
              <span class="input-group-text">
                <a href="#" onclick="togglePassword('input-password2')" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                </a>
              </span>
              {% for error in form.confirm.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">{{ _('Name') }}</label>
            <input type="text" name="name" class="form-control{% if form.name.errors %} is-invalid{% endif %}" placeholder="{{ _l('Your full name') }}" autocomplete="off">
            {% for error in form.name.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="mb-3">
            <label class="form-check">
              <input name="agree_terms" type="checkbox" class="form-check-input{% if form.agree_terms.errors %} is-invalid{% endif %}"/>
              <span class="form-check-label">{{ _('Agree with the') }} <a href="#" tabindex="-1">{{ _('terms and policy') }}</a>.</span>
              {% for error in form.agree_terms.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </label>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">{{ _('Register') }}</button>
          </div>
        </form>
      </div>
      {% include 'main/parts/social_login_buttons.html' %}
    </div>
    <div class="text-center text-muted mt-3">
      {{ _('Already have account') }}? <a href="{{ url_for('login') }}" tabindex="-1">{{ _('Login') }}</a>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  function togglePassword(id_name) {
    var el = document.getElementById(id_name);
    if (el.type == 'password') { el.type = "text"; } else { el.type = "password"; };
  }
</script>
{% endblock %}