{% extends '_layout/auth.html' %}

{% block title %}{{ title or _('Reset Password') }}{% endblock %}
{% block page_title %}{{ title or _('Reset Password') }}{% endblock %}

{% block card_body %}
  <p class="login-box-msg">{{ _('Reset Password') }}</p>
  <p class="text-muted mb-4">{{ _l('Enter your new password to update your password') }}.</p>

  <form method="post">
    {{ form.csrf_token }}

    <div class="input-group mb-3">
      <input type="password" name="password" id="input-password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" placeholder="{{ _('Password') }}">
      <div class="input-group-append">
        <a class="input-group-text" onclick="togglePassword('input-password')">
          <span class="fas fa-eye"></span>
        </a>
      </div>
      {% with field=form.password %}
      {% include "_parts/form_field_errors.html" %}
      {% endwith %}
    </div>
    <div class="input-group mb-3">
      <input type="password" name="confirm" id="input-password2" class="form-control {% if form.confirm.errors %}is-invalid{% endif %}" placeholder="{{ _('Confirm Password') }}">
      <div class="input-group-append">
        <a class="input-group-text" onclick="togglePassword('input-password2')">
          <span class="fas fa-eye"></span>
        </a>
      </div>
      {% with field=form.confirm %}
      {% include "_parts/form_field_errors.html" %}
      {% endwith %}
    </div>
    <div class="form-footer">
      <button type="submit" class="btn btn-primary w-100">{{ _('Submit') }}</button>
    </div>
  </form>
  <div class="text-center text-muted mt-3">
    <a href="{{ url_for('login') }}" tabindex="-1">{{ _('Login') }}</a>
  </div>
{% include '_include/notification_toast.html' %}
{% endblock %}

{% block js %}
<script>
function togglePassword(id_name) {
  var el = document.getElementById(id_name);
  if (el.type == 'password') { el.type = "text"; } else { el.type = "password"; };
}
</script>
{% endblock %}
