{% extends '_layout/base.html' %}
{% block title %}404 - Not Found{% endblock %}

{% block body_class %}border-top-wide border-primary d-flex flex-column{% endblock %}

{% block page %}
  <div class="container-tight py-4">
    <div class="empty">
      <div class="empty-header">404</div>
      <p class="empty-title">Oops… Not found.</p>
      <p class="empty-subtitle text-muted">
        Item or Page is not found.
      </p>
      <div class="empty-action">
        <a href="{{ url_for('home') }}" class="btn btn-primary">
          <!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
          Take me home
        </a>
      </div>
    </div>
  </div>
{% endblock %}