{% extends '_layout/no-sidebar.html' %}
{% block title %}{{ title or _('Server Error') }}{% endblock %}
{% block page_title %}{{ title or _('Server Error') }}{% endblock %}

{% block content_wrapper %}
  <div class="container py-4">
    <div class="error-page">
      <h2 class="headline text-danger">500</h2>

      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>

        <p>
          We will work on fixing that right away.
          Meanwhile, you may <a href="/">{{ _('return to home') }}</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}